* {
    box-sizing: border-box;
}

p {
    font-family: 'Lato', sans-serif;
}

a {
    font-family: 'Lato', sans-serif;
    text-decoration: none !important;
}

.mbt-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.white-small-text {
    color: white;
    margin: 5px 1px;
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
}

.white-medium-text {
    color: white;
    margin: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}

.red-icon {
    font-size: 0.9em;
    color: red;
}

.ita-btn {
    padding: 0 !important;
}


.ita-btn::after {
    border-top: .3em solid white !important;
}

.ita {
    height: 10px;
    width: auto;
}

.bike {
    font-family: 'Lato', sans-serif;
    font-size: 1.6em;
    font-weight: bolder;
    color: #04355b;
}

.chance {
    font-family: 'Lato', sans-serif;
    font-size: 1.6em;
    font-weight: bolder;
    color: #f21e1e;
}

.menu {
    color: white;
    background-color: #04355b;
    padding: 6px 8px;
}

.menu-child {
    background-color: #04355b;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 60%;
    display: none !important;
}

.cross {
    font-size: 2.1em;
    color: #f21e1e;
}

#menu:checked ~ .col-2 .menu-child {
    display: flex !important;
}

.menu-hr {
    border-top: 1px solid #21537a;
    width: 100%
}

.bike-menu {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: bolder;
    color: #fff;
}

.input {
    border: #04355b 1px solid;
    border-radius: 0 !important;
    outline: 0 !important;
}

.button {
    border: #04355b 1px solid;
    background: #04355b;
    color: white;
    border-radius: 0 !important;
    outline: 0 !important;
    font-size: 1em;
}

.no-button {
    border: 0;
    background: none;
    position: relative;
    border-radius: 0 !important;
    outline: 0 !important;
}

.profile-img {
    border-radius: 50%;
    background: #04355b;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.profile-name {
    font-size: 14px;
    color: #04355b;
    font-family: 'Lato', sans-serif;
}

.inactive {
    color: #555;
}

.inactive:focus, .inactive:hover {
    color: #2f3f58;
}

.notification {
    position: absolute;
    background-color: #f21e1ecc;
    color: white;
    right: -1px;
    top: -1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
}

.zero {
    background-color: #555555cc !important;
}

.shop-link {
    color: #f21e1e;
}

.slider-text {
    background-color: #555555aa;
    width: 100%;
}

.leggi-button {
    padding: 5px 10px;
    background-color: #04355b;
    color: white !important;
    margin: 10px;
}

.select {
    width: 160px;
}

.select:hover, .select: :active {
    overflow: 0;
}

.la-mia-moto-button {
    background-color: #f21e1e;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    overflow: hidden !important;
    border: 0;
    padding: 5px 7px;
}

.news-head-text {
    font-size: 1.2em;
    color: #04355b;
}

.news-text {
    color: #555;
}

.news-date-category {
    font-size: 0.7em;
    color: #f77070;
}

.blue-border-button {
    border: #04355b 1px solid;
    color: #04355b;
    padding: 5px 10px;
    border-radius: 0 !important;
    outline: 0 !important;
    margin: 10px;
}

.blue-border-button:hover, .blue-border-button:active {
    border: white 1px solid;
    color: white;
    background-color: #04355b;
}

.event-top {
    color: #f77070;
    margin: 0;
    font-size: 0.9em;
}

.event-bot {
    color: #04355b; 
    margin: 0;
    font-size: 0.9em;
}

.gray-text {
    color: #777;
    text-align: center;
    width: 100%;
    margin: 0;
}

.item-div {
    border: 1px solid #555; 
    margin: 0 10px; 
    padding: 5px; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-text {
    color: #04355b;
    text-align: center;
    margin: 5px 0;
}

.price {
    color: white;
    padding: 5px;
    background-color: #f21e1e;
    font-family: 'Lato', sans-serif;
}

.gray-price {
    color: white;
    padding: 5px;
    background-color: #aaa;
    font-family: 'Lato', sans-serif;
}

.cart {
    color: white;
    background-color: #04355b;
    padding: 2px 6px;
}

.promo-div {
    position: relative;
}

.promo {
    background-image: url(./img/promoTag.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -7px;
    left: -4px;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaaaaa33;
    margin: 0 10px;
}

.twitter {
    border-radius: 50%;
    background-color: white;
    color: black !important;
    font-size: 15px;
    padding: 1px 2px;
}

@media (max-width: 1024px) {
    .price {
        font-size: 0.7em;
    }

    .gray-price {
        font-size: 0.7em;
    }

    .cart {
        font-size: 0.7em;
    }
}

@media (max-width: 991px) {
    .no-mobile {
        display: none !important;
    }

    html {
        font-size: 1em;
    }

    .button {
        font-size: 0.9em;
    }

    .bike {
        font-size: 1.1em;
    }

    .chance {
        font-size: 1.1em;
    }

    .Roma {
        padding: 30px 5%;
    }

    .la-mia-moto-button {
        font-size: 0.6em;
        margin: 10px 0;
    }

    .item-div {
        margin: 0;
    }

    i {
        font-size: 0.8em;
    }

    .promo {
        width: 30px;
        height: 30px;
        font-size: 0.55em;
    }
    
    .price {
        font-size: 0.8em;
    }

    .gray-price {
        font-size: 0.8em;
    }

    .twitter {
        padding: 0 3px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 0.8em;
    }
}

@media (max-width : 576px) {
    html {
        font-size: 0.7em;
    }
}

@media (min-width: 992px) {
    .no-pc {
        display: none !important;
    }
}